# EditorConfig helps developers define and maintain consistent coding styles between different editors and IDEs
# http://editorconfig.org

root = true

[*]
end_of_line = lf
insert_final_newline = true
charset = utf-8
trim_trailing_whitespace = true

# Python (follows PEP8)
[*.py]
indent_style = space
indent_size = 4

# Frontend (Vue, TS, JS, CSS, JSON, HTML)
[*.{vue,ts,js,jsx,tsx,json,css,html}]
indent_style = space
indent_size = 2

# Markdown
[*.md]
trim_trailing_whitespace = false

[Makefile]
indent_style = tab
